{% load static %}
<!doctype html>

<html>
	<head> 
		<title> Candidate Registration Form </title>
		<link rel="stylesheet" href="{% static  'candidatereg/style.css' %}">
	</head>
	<body>
		<img class="swasthi" src="{% static 'candiatereg/Swasthi.jpg' %}" alt="img not found">
		<h1 class="relative"> Candidate Registration Form </h1>
		
		<form method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<legend>candidate registeration</legend>
			{{form.as_p}}
			<!--<div class="fname">
				<br><lable for="Fname" class="fname"> First Name: </label>
				<input type="text" id="Fname" name="fname" placeholder="first name" required></br>
			</div>-->
		</from>				

		<br><button type="submit" class="button1" >
			Submit 	
		</button></br>
		
	</body>
</html>